<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Architect Cloud</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="stylesheets/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="stylesheets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="">Architect Cloud</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="Home.html">Home</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	
    <!-- Header -->
    <header style='background-image: url("img/image.jpg");background-repeat: no-repeat; background-position: center center; background-size: 100% auto;'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile1.png" style="height: 270px; width: 350px;" alt="">
                    <div class="intro-text">
                        <span class="name">Architect Cloud</span>
                        <hr class="star-light" color="black">
                        <span class="skills">Customer - Architect - Mediator</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
	 <!-- Customer page -->
		
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 Style="margin-left:224px">Customer Page</h2>
                            <hr class="star-primary">
                            
                            <div class="col-lg-8 col-lg-offset-2" style="margin-bottom: 100px;">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <table style="border-radius:5px;border-collapse:collapse;border:1px solid black;background: rgb(224, 117, 49) none repeat scroll 0% 0%;">
					<form name="sentMessage7" id="mediatorLogin" novalidate>
                        
                        <div class="">
                            <div class="form-group col-xs-12">
                                <tr><td style="padding:5px"><b>Search Architect:</b></td>
                                <td style="padding:5px"><input type="Text" name="Architect7"  class="form-control" placeholder="Enter Pincode" id="Architect7" required ></td>
								<div class="row">
                            <div class="form-group col-xs-12">
                               <td style="padding:5px"><a href="#portfolioModal11" class="portfolio-link" data-toggle="modal"> <button type="button" class="btn btn-success btn-lg" value="Search">Search</button></a></td></tr>
                            </div>
                        </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-group col-xs-12">
                                <tr><td style="padding:5px"><b>Plan Approvals:</b></td>
                                
								<div class="row">
                            <div class="form-group col-xs-12">
                                <td style="padding:5px"><button type="button" class="btn btn-success btn-lg" style="margin-bottom:5px">Approval</button></td></tr>
                            </div>
                        </div>
							   <p class="help-block text-danger"></p>
                            </div>
                        </div>
							
						<div class="">
                            <div class="form-group col-xs-12">
                                <tr><td style="padding:5px"><b>Enter Customer Requirements:</b></td>
                               
                                 <div class="row">
                            <div class="form-group col-xs-12">
							<a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
                                <td style="padding:5px"><button type="button" class="btn btn-success btn-lg" value="Requiremnts">Requirements</button></a></td></tr>
								
					
                            </div>
                        </div>                                
								<p class="help-block text-danger"></p>
                            </div>
                        </div>
						</form>
						</table>
						</div>
                   </div>
                </div>
            </div>
        </div>
       
    
      <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Miracle SoftWare Systems<br>Miracle City,Bhogapuram<br>Andhrapradesh India 535296
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#www.facebook.com" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
					
					<ul class="list-inline">
                        <li>
                            <a href="mailto:architectcloud@miraclesoft.com" ><i class="glyphicon glyphicon-envelope" style="font-size: 55px; padding-bottom: 22px;color:white"></i></a>
							<h3 style="font-size: 23px; text-transform: lowercase;">architectcloud@miraclesoft.com</h3>
                        </li>
					</ul>	
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; ARCHITECTCLOUD 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
	<div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Customer Requirements</h2>
                            <hr class="star-primary">
                            
                            <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage6" id="mediatorLogin" novalidate>
                        
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>customer ID</label>
                                <input type="text" class="form-control" name="CID" ng-model="erp" placeholder="Enter Customer ID" id="CID" required data-validation-required-message="Please enter your Received Password.">
                                 
								<p class="help-block text-danger"></p>
                            </div>
                        </div>			
						<div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Architect ID</label>
                                <input type="text" class="form-control" name="AID" ng-model="pw" placeholder="Enter Architect ID" id="AID" required data-validation-required-message="Please enter New Password.">
                                
								<p class="help-block text-danger"></p>
                            </div>
                        </div>
						<div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Area In Sqr Feet</label>
                                <input type="Text" name="area" ng-model="rpw" class="form-control" placeholder="Example:Height*Width" id="area" ng-mousleave1=required data-validation-required-message="Please Re-Enter New Password.">
                                 
								<p class="help-block text-danger"></p>
                            </div>
                        </div>
						<div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Type of Plan</label>
                                <input type="Text" name="plan" ng-model="rpw" class="form-control" placeholder="Construction Model Like Roof" id="plan" ng-mousleave1=required data-validation-required-message="Please Re-Enter New Password.">
                                 
								<p class="help-block text-danger"></p>
                            </div>
                        </div>
						<div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Budget In Ruppes</label>
                                <input type="Text" name="Bud" ng-model="rpw" class="form-control" placeholder="Example:1000000INR" id="Bud" ng-mousleave1=required data-validation-required-message="Please Re-Enter New Password.">
                                 
								<p class="help-block text-danger"></p>
                            </div>
                        </div>
						<div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Number Of Floors</label>
                                <input type="Text" name="floor" ng-model="rpw" class="form-control" placeholder="Enter number of floors" id="Floor" ng-mousleave1=required data-validation-required-message="Please Re-Enter New Password.">
                                 
								<p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <input type="button" class="btn btn-success btn-lg" value="Submit" align="center">													
                            </div>
							</div>
                    </form>
                </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <h2>Search Architect</h2>
                            <hr class="star-primary">
                        </div>
					</div>	
                    <div class="col-lg-12">
					
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <table class="table table-condensed">
					<thead>
					<tr>
					<th>Name</th>
					<th>Pincode</th>
					<th>Details</th>
					</tr>
					</thead>
					<tbody>
					<tr style="text-align:left">
					<td>Hareesh</td>
					<td>532421</td>
					<td><input type="button" id="get1" name="get1" value="GetDetails"></td>
					</tr>
   					</tbody>
					</table>
					</div>
           </div>
        </div>
    </div>
            
    

    <!-- jQuery -->
    <script src="stylesheets/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="stylesheets/js/jqBootstrapValidation.js"></script>
    <script src="stylesheets/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="stylesheets/js/freelancer.min.js"></script>
	
</body>

</html>
